<a href="https://www.gazette-du-sorcier.com">
    <img src="{{ asset('images/logo-80x80.png') }}" srcset="{{ asset('images/logo-160x160.png') }} 2x, {{ asset('images/logo-240x240.png') }} 3x" alt="Logo">
    <h1>{{ meta('Title - Short') }}</h1>
</a>

<p>
    <small>{{ page('Footer') }}</small>
</p>

<ul id="menu-footer" class="nav justify-content-around">
    <li class="nav-item">
        <a class="nav-link" href="#">Footer link 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Footer link 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Footer link 3</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Footer link 4</a>
    </li>
</ul>

<p id="copyright">
    Copyright &copy; 2000-{{ 'now'|date('Y') }} {{ meta('Copyright') }}
</p>
