<header>
    <nav class="container-xl navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <span class="d-none d-md-block">{{ meta('Title') }}</span>
                <span class="d-md-none">{{ meta('Title - short') }}</span>
            </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">

            <ul class="navbar-nav ml-auto text-right">
                <li class="nav-item"><a class="nav-link" href="{{ path('page_one') }}">Menu link 1</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('page_two') }}">Menu link 2</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Menu link 3</a></li>
            </ul>
        </div>
    </nav>
</header>
