{% extends 'admin/layout.html.twig' %}

{% block content %}

<h3>{{ 'login.administration'|trans }}</h3>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {{ 'login.loggedAs'|trans }} {{ app.user.username }}, <a class="btn" href="{{ path('app_logout') }}">{{ 'login.logout'|trans }}</a>
        </div>
    {% endif %}

    <label for="inputUsername">{{ 'login.username'|trans }}</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">{{ 'login.password'|trans }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate_admin') }}">

    <div class="checkbox my-3">
        <label>
            <input type="checkbox" name="_remember_me"> {{ 'login.rememberMe'|trans }}
        </label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">{{ 'login.login'|trans }}</button>
</form>

{% endblock %}
